main {
  background-color: transparent;
  box-shadow: none;

  .film {
    margin: 46px;
    font-size: 36px;
  }

  .films {
    overflow-x: auto;

    div {
      display: inline-flex;
      flex-direction: column;
      gap: 10px;
      margin: 33px;
      width: 89px;

      p {
        font-size: 15px;
      }

      img {
        width: 89px;
        height: 108px;
        transition: all 0.5s;
        opacity: 1;
      }
    }
  }

  .image {
    max-width: 48px;
    opacity: 0.6;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }

  .video--films {
    position: relative;
  }

  .tips--films {
    margin: 29px;
    margin-top: 70px;

    span {
      a {
        color: var(--mainColor);
        text-decoration: underline;
        font-size: 100%;
      }
    }
  }

  .list-poster {
    &:hover {
      .poster {
        transform: rotate(10deg);
      }
    }
  }
}
