@media (max-width: 1216px) {
  iframe,
  .ambiance {
    width: 947px;
    height: 532px;
  }
}

@media (max-width: 962px) {
  iframe,
  .ambiance {
    width: 769px;
    height: 440px;
  }
}

@media (max-width: 782px) {
  iframe,
  .ambiance {
    width: 600px;
    height: 337px;
  }
}

@media (max-width: 649px) {
  iframe,
  .ambiance {
    width: 450px;
    height: 258px;
  }
}

@media (max-width: 458px) {
  iframe,
  .ambiance {
    width: 325px;
    height: 185px;
  }
}

@media (max-width: 358px) {
  iframe,
  .ambiance {
    width: 265px;
    height: 153px;
  }
}
