.container--anime {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  margin-bottom: 200px;
  width: calc(100vw - 50px);

  .title {
    font-family: 'Kanit', sans-serif;
    font-weight: lighter;
    height: auto;
  }

  nav {
    margin: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 65vw;

    .container--search-bar {
      display: flex;
      flex-direction: column;
    }
  }

  .search--output--anime {
    color: white;
    font-size: 20px;
  }

  .catalogue {
    width: 100%;

    .category {
      font-size: 50px;
      text-shadow: black 0 0 10px;
      font-weight: bold;
      text-align: left;
      margin-left: 10px;
      border-bottom: 1px solid grey;
      width: 65vw;
    }

    ul {
      overflow-x: auto;
      overflow-y: hidden;

      display: flex;
      flex-direction: row;

      li {
        color: white;
        margin: 20px;

        cursor: pointer;

        .card {
          position: relative;
          width: 130px;
          height: 160px;
          background-color: hsla(240, 10%, 10%, 0.192);
          box-shadow: black 0 0 10px;

          border-radius: 5px;
          border: 1px solid transparent;

          transition: transform 150ms ease-out;
          transition: border 250ms ease-in-out;

          .affiche {
            width: 129px;
          }

          p {
            position: relative;
            top: 15px;
            font-size: 15px;
            color: var(--orange);
          }

          &:hover {
            border: 1px solid var(--orange);
          }
        }
      }
    }
  }
}
