.container--anime {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 4px;
  margin-bottom: 200px;
  width: calc(100vw - 50px);

  .title {
    font-size: 90px;
    height: auto;
  }

  .search--output--anime {
    color: white;
    font-size: 20px;
  }

  .catalogue {
    width: 100%;

    .category {
      font-size: 50px;
      text-shadow: black 0 0 10px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      margin-left: 10px;
      border-bottom: 1px solid grey;
      width: 65vw;
    }

    ul {
      overflow-x: auto;
      overflow-y: hidden;

      display: flex;
      flex-direction: row;

      li {
        color: white;
        margin: 20px;

        cursor: pointer;

        .card {
          position: relative;

          width: 130px;
          height: 160px;
          background-color: hsla(240, 10%, 10%, 0.192);
          box-shadow: black 0 0 10px;
          border-radius: 5px;

          transition: transform 150ms ease-out;

          .synopsis {
            position: absolute;
            top: 60px;
            height: 0%;

            z-index: 100;

            transition: height 300ms ease-in-out;

            p {
              border-radius: 2px;
              color: black;
              height: 50%;
              overflow: hidden;
              background-color: white;
              font-size: 9px;
            }
          }

          .affiche {
            width: 129px;
          }

          p {
            position: relative;

            top: 15px;
            font-size: 15px;

            color: #ffa300;
          }

          &:hover {
            .synopsis {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
