@media (max-width: 660px) {
  .container--anime {
    .catalogue {
      .category {
        font-size: 35px;
      }
    }

    .title {
      font-size: 45px;
    }
  }
}

@media (max-width: 500px) {
  .container--anime {
    .catalogue {
      ul {
        li {
          margin: 10px;

          .card {
            width: 110px;
            height: 145px;

            .affiche {
              width: 110px;
            }

            p {
              position: relative;
              top: 15px;
            }
          }
        }
      }
    }
  }
}
