.container--anime {
  width: calc(100vw - 50px);

  .title {
    h1 {
      &::after {
        content: none;
      }
    }
  }

  .color-picker {
    margin: 50px;
  }

  nav {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .catalogue {
    width: 100%;

    .Reprendre {
      .category {
        display: flex;
        align-items: center;

        *:not(button) {
          border-right: 1px solid rgb(60 60 60 / 1);
          padding-right: 15px;
        }

        .removeAllHistorique {
          min-width: 200px;
          transition: all 250ms ease-out;

          position: relative;
          left: 15px;

          &:hover {
            color: red;
            border: 1px solid red;
          }
        }
      }

      ul {
        li {
          .card {
            width: 162px;
            height: 162px;

            img {
              width: 160px;
              height: 90px;
            }

            p {
              top: 5px;
            }
          }
        }
      }
    }

    div {
      margin-bottom: 5px;
    }

    .category {
      letter-spacing: 2px;

      font-weight: bold;
      text-align: left;

      margin-left: 13px;
      margin-top: 27px;
      margin-bottom: -8px;

      width: 65vw;
      font-size: 30px;
    }

    ul {
      overflow-x: auto;
      overflow-y: hidden;

      display: flex;
      flex-direction: row;

      li {
        margin: 10px 0 0 20px;

        cursor: pointer;

        .card {
          position: relative;

          width: 130px;
          height: 160px;

          box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
            rgba(0, 0, 0, 0.05) 0px 5px 10px;

          border-radius: 14px;

          transition: transform 150ms ease-out;
          transition: border 250ms ease-in-out;

          .historiqueRemove {
            background-color: hsla(240, 10%, 10%, 0.472);
            position: absolute;

            border: 1px solid var(--mainColor);
            height: 30px;

            display: flex;
            align-items: center;

            right: 0;
            margin: 7px;
            padding: 5px;
            border-radius: 2px;

            transition: color 150ms ease-out;

            &:hover {
              color: red;
            }
          }

          .affiche {
            width: 130px;
            height: 70px;
            position: relative;
            z-index: -1;
            border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            transform: scale(0.9);
            top: 2.5px;
          }

          p {
            position: relative;
            top: 15px;
            font-size: 15px;
            color: var(--mainColor);
            width: 90%;
            left: 5%;
          }

          overflow: hidden;

          &::after {
            position: absolute;
            content: "";
            inset: 2px;
            border-radius: 14px;
            z-index: -5;
            background-color: hsl(240, 10%, 10%);
          }

          &::before {
            z-index: -5;
            position: absolute;
            content: "";

            opacity: 0;
            transition: opacity 300ms ease-out;

            left: 25px;
            top: -53px;

            width: 50%;
            height: 180%;

            background-color: var(--mainColor);
            transform: rotate(45deg);
          }

          &:hover {
            &::before {
              opacity: 1;
              animation: borderAnime 2.5s linear infinite;
            }
          }
        }
      }
    }
  }
}

@keyframes borderAnime {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
