@media (max-width: 660px) {
  main {
    .title {
      font-size: 50px;
    }
  }
}

@media (max-width: 500px) {
  main {
    .catalogue {
      .Reprendre {
        ul {
          li {
            .card {
              width: 159px;
              height: 159px;

              img {
                width: 157px;
                height: 80px;
              }
            }
          }
        }
      }

      .category {
        .removeAllHistorique {
          min-width: 150px;
        }

        margin-left: 0;
      }

      ul {
        li {
          .card {
            width: 110px;
            height: 145px;

            .affiche {
              width: 110px;
              height: 62px;
            }
          }
        }
      }
    }
  }
}
