@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

.background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.container {
    width: 499px;
    height: 554px;
    background-color: #3b3b3b;
    border-radius: 35px;
    margin-top: 10%;
    opacity: 0.85;
    transition: transform 1s;
}

.title {
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

span {
    color: orange;
}

.title img {
    color: black;
    width: 50px;
    height: 50px;
    transition: transform 1s;
}

.choices {
    font-size: 50px;
    margin-top: 94px;
    padding-bottom: 5px;
}

a {
    color: cyan;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to top, orange 0%, orange 2px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.5s;
}

footer p {
    margin-top: 106px;
    opacity: 80%;
}

a:hover { background-size: 100% 100%; }

.title img:hover {
    transform: scale(0.9);
}
  
.container:hover {
    transform: scale(0.95);
}

.title:hover { color: orange; }