@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background-color: orange;
    behavior: 'smooth'
}

body::-webkit-scrollbar {
    width: 16px;
}

body::-webkit-scrollbar-track {
    background: orange
}

body::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 20px;
    border: 3px solid orange;
}

.background {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

li {
    list-style: none;
    line-height: 23px;
}

.container {
    width: 500px;
    height: 700px;
    background-color: #3b3b3b;
    border-radius: 35px;
    margin-top: 4%;
    opacity: 0.85;
    transition: transform 1s;
}

.citation {
    font-size: 27px;
    color: white;
    position: relative;
}

.citation p {
    margin-top: -13px;
    position: absolute;
    opacity: 0;
    transition-duration: 300ms;
}

.citation p.visible {
    opacity: 1;
}

.citation p span {
    color: orange;
}

.title {
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

span {
    color: orange;
}

.title img {
    color: black;
    width: 50px;
    height: 50px;
    transition: transform 1s;
}

.choices {
    font-size: 50px;
    margin-left: -38px;
    margin-top: 266px;
}


a {
    color: cyan;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to top, orange 0%, orange 2px, transparent 5px) no-repeat;
    background-size: 0 100%;
    transition: background-size 0.5s;
}

footer p {
    margin-top: 38px;
    opacity: 80%;
}

a:hover {
    background-size: 100% 100%;
}

.title img:hover {
    transform: scale(0.9);
}

.container:hover {
    transform: scale(0.95);
}

.title:hover {
    color: orange;
}

@media (max-width: 440px) {
    .container {
        margin-top: -53px !important
    }

    .choices {
        margin-top: 428px !important;
    }
}

@media (max-width: 1580px) {
    .container {
        margin-top: 100px;
    }
}

@media (max-width: 608px) {
    .container {
        transform: scale(0.8);
    }

    .container:hover {
        transform: scale(0.75);
    }
}

@media (max-width: 484px) {
    .choices {
        margin-top: 345px;
    }
}

@media (max-width: 813px) {
    .container {
        margin-top: 35px;
        height: auto;
    }
}