.film {
  color: white;
  margin: 46px;
  font-size: 36px;
}

.video--films {
  iframe {
    position: relative;
    border: 0;
    width: 640px;
    height: 360px;
  }
}

.search--output--films {
  color: white;
  font-size: 34px;
}

.films {
  overflow-x: auto;

  div {
    display: inline-flex;
    margin: 33px;

    img {
      width: 89px;
      height: 108px;
      transition: all 0.5s;
      opacity: 1;
    }
  }
}

.text--films {
  width: 134px;
  color: white;
  margin-left: -109px;
}

a {
  font-size: 20px;
}

.langage {
  color: white;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.image {
  max-width: 48px;
  opacity: 0.6;
  transition: all 0.5s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.tips--films {
  color: white;
  margin: 29px;
  margin-top: 70px;

  span {
    a {
      color: #ffa300;
      text-decoration: underline;
      font-size: 100%;
    }
  }
}

.poster {
  transition: tranform 300ms;
}

.container--poster {
  &:hover {
    .poster {
      transform: rotate(10deg);
    }
  }
}
