@import "./responsive.scss";

main {
  padding: 15px;
  width: 500px;
  background-color: #17171c7a;
  box-shadow: #00000026 0 15px 25px, #0000000d 0 5px 10px;
  border-radius: 7px;

  h1 {
    font-size: 35px;
    margin-bottom: 80px;
  }

  form {
    textarea {
      border: 1px solid rgb(60 60 60 / 1);
      padding: 10px;
      width: 100%;
      height: 250px;
      margin-bottom: 65px;
    }

    button {
      width: 100%;

      &:hover {
        color: rgb(0, 255, 51);
        border: 1px solid rgb(0, 255, 51);
      }
    }
  }
}
