main {
  background-color: transparent;
  box-shadow: none;

  .lastSaison {
    margin: 50px;

    a {
      text-decoration: underline;
      color: var(--mainColor);
    }
  }

  .saisons {
    overflow-x: auto;

    div {
      display: inline-flex;
      flex-direction: column;
      gap: 10px;
      margin: 33px;
      width: 89px;

      &:hover {
        img {
          transform: rotate(10deg);
        }
      }

      p {
        font-size: 15px;
      }

      img {
        width: 89px;
        height: 108px;
        transition: all 0.5s;
        opacity: 1;
      }
    }
  }

  .image {
    max-width: 48px;
    opacity: 0.6;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}
