main {
  padding: 15px;
  width: 500px;
  background-color: #17171c7a;
  box-shadow: #00000026 0 15px 25px, #0000000d 0 5px 10px;
  border-radius: 7px;

  .footer {
    margin-top: 50px;

    &::after {
      content: none;
    }
  }

  .choices {
    display: flex;
    justify-content: center;
    text-align: left;

    a {
      color: #6791c0;
      font-size: 43px;
      transition: color 200ms ease-in-out;

      &:hover {
        color: var(--mainColor);
      }
    }
  }

  .synopsis {
    font-size: 20px;
    margin: 50px 0;

    text-align: left;
  }

  .title {
    h1 {
      font-size: 35px;

      &::after {
        content: none;
      }
    }
  }
}
