@media (max-width: 520px) {
  main {
    .container--home {
      width: 376px;
    }
  }
}

@media (max-width: 474px) {
  main {
    .container--home {
      width: 356px;
    }
  }
}

@media (max-width: 400px) {
  main {
    .container--home {
      width: 261px;
    }
  }
}
