@media (max-width: 1715px) {
  .container--Saisons {
    width: auto;
  }
}

@media (max-width: 372px) {
  input:focus {
    width: 215px;
  }
}

@media (max-width: 550px) {
  .container--saisons {
    .animeName {
      margin-bottom: 180px;
    }
  }
}

@media (max-width: 506px) {
  .logo {
    font-size: 26px;
  }
}
