.lastSaison {
  margin: 50px;
  color: white;

  a {
    text-decoration: underline;
  }
}

.search--output--saisons {
  color: white;
  font-size: 36px;
}

.saisons {
  overflow-x: auto;
  position: relative;
  top: -20px;

  div {
    display: inline-flex;
    margin: 33px;

    img {
      width: 89px;
      height: 108px;
      transition: all 0.5s;
      opacity: 1;
    }
  }
}

.text--saisons {
  width: 134px;
  color: white;
  margin-left: -109px;
}

a {
  font-size: 20px;
}

.image {
  max-width: 48px;
  opacity: 0.6;
  transition: all 0.5s;

  &:hover {
    opacity: 1;
    transform: scale(1.05);
  }
}

.poster-saison {
  transition: tranform 300ms;
}

.container--poster-saison {
  &:hover {
    .poster-saison {
      transform: rotate(10deg);
    }
  }
}
