main {
  background-color: transparent;
  box-shadow: none;

  .buttons {
    display: flex;
    gap: 20px;
    position: relative;

    &.saisons {
      top: 40px;
    }

    &.episodes {
      margin-bottom: 30px;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: -25px;
        background-color: var(--grey);
      }
    }
  }

  .label--search-bar {
    margin: 35px;
  }

  .videoContainer {
    position: relative;
  }

  .episodeName {
    transition: all 150ms ease-out;
  }

  .titleSaison {
    margin: 46px;
    font-size: 36px;

    a {
      font-size: 56px;
    }
  }

  .hideEpisodesNames {
    display: flex;
    position: relative;

    left: -20px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;

      width: 40px;
      height: 10px;

      border-radius: 50px;
      background-color: #3c3c3c;

      bottom: 7px;
      right: -47px;

      z-index: -1;
      transition: all 0.25s ease-out;
    }

    &.active {
      span {
        left: 52px;
      }

      &::before {
        background-color: var(--mainColor);
        filter: brightness(0.55);
      }
    }

    input {
      appearance: none;
    }

    span {
      background-color: var(--mainColor);

      width: 24px;
      height: 24px;

      border-radius: 50%;

      position: relative;
      left: 25px;

      transition: left 250ms;
    }
  }

  .blurEffect {
    filter: blur(7px);
    -webkit-filter: blur(7px);
  }

  .historiqueEpisode {
    p {
      margin: -15px;
    }
  }

  .container--list {
    overflow-y: auto;
    max-height: 400px;
    margin: 21px;

    .list {
      .list-episodes {
        cursor: pointer;
        text-align: left;
        padding: 6px;

        &:not(:last-child) {
          border-bottom: 1px solid var(--grey);
        }

        span {
          transition: color 250ms ease-out;
        }

        .episodeName {
          transition: all 250ms ease-out;
          color: white;

          &:hover {
            color: var(--mainColor);
          }
        }

        &:hover {
          span {
            color: white;
          }
        }
      }
    }
  }

  .title {
    font-size: 66px;
  }

  .disclamer {
    margin-top: 50px;
    font-size: 20px;
    color: red;

    a {
      color: red;
      text-decoration: underline;
    }
  }

  .episodeNumber {
    color: var(--mainColor);
  }

  .download {
    margin-top: 25px;
    margin-left: 10px;

    span {
      a {
        text-decoration: underline;
        color: var(--mainColor);
      }
    }
  }

  .episodeTitle {
    font-size: 30px;
    margin: 29px;
    margin-top: 50px;

    .episodeName {
      color: white;
    }
  }
}
