@media (max-width: 871px) {
  main {
    .scans {
      img {
        width: 600px;
      }
    }
  }
}

@media (max-width: 603px) {
  main {
    .scans {
      img {
        width: 460px;
      }
    }
  }
}

@media (max-width: 467px) {
  main {
    .scans {
      img {
        width: 350px;
      }
    }
  }
}
