.container--scans {
  .container--buttons--scans {
    position: relative;
    top: 100px;
    margin-bottom: 230px;

    .buttons--scans {
      border-bottom: rgb(60 60 60 / 1) solid 1px;
      position: relative;
      top: 17px;
    }

    .lastChapter {
      position: relative;
      top: 15px;
    }
  }

  .select-container {
    position: relative;

    .label-select {
      top: 50px;
    }
  }

  .scrollUp {
    position: fixed;

    bottom: 0;
    right: 0;

    margin: 50px;

    background-color: hsla(231, 14%, 10%, 0.429);
    border: var(--mainColor) 1px solid;

    padding: 10px;
    border-radius: 3px;

    transition: background-color 200ms ease-out;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    cursor: pointer;

    &:hover {
      background-color: hsla(231, 14%, 10%, 1);
    }
  }

  .scans {
    position: relative;
    top: -60px;
    margin-bottom: -130px;

    img {
      width: 850px;
    }
  }
}
