.container--buttons {
  display: flex;
  justify-content: center;
  padding: 26px;
}

body {
  overflow-x: hidden;
}

.buttons {
  border-bottom: grey solid 1px;
  position: relative;
  top: 17px;
}

.loading {
  color: white;
}

.episodeName {
  transition: all 150ms ease-out;

  color: white;
}

.list-episodes {
  cursor: pointer;
  transition: color 150ms ease-out;

  width: 900px;

  &:hover {
    .episodeName {
      color: var(--orange);
    }

    span {
      transition: color 150ms ease-out;
      color: white;
    }
  }
}

.langChange {
  &:hover {
    text-decoration: underline;
  }

  color: white;
  cursor: pointer;
}

.select {
  color: var(--orange);

  span {
    color: white;
  }
}

.search--output--episodes {
  color: white;
  font-size: 20px;
}

.titleSaison {
  margin: 46px;
  color: white;
  font-size: 36px;

  a {
    color: white;
    font-size: 56px;
  }
}

.blurEffect {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.historiqueEpisode {
  p {
    color: white;
    margin: -15px;
  }
}

.hideEpisodesNames {
  display: flex;
  margin: 20px;

  p {
    position: relative;
    left: -15px;
    top: -5px;
  }

  input {
    appearance: none;

    &:checked + span {
      background-color: var(--orange);

      &::before {
        left: 40px;
      }
    }

    &:hover + span::before {
      box-shadow: 0px 0px 20px 0px black;
    }
  }

  span {
    background-color: #999692;
    width: 65px;
    height: 15px;
    border-radius: 50px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: -7px;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      transition: all ease-out 0.2s;
    }
  }
}

.container--list {
  position: relative;
  top: 30px;
  overflow-y: auto;
  height: 400px;
  margin: 21px;

  &::-webkit-scrollbar {
    width: 12.5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--orange);
  }

  &::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 20px;
    border: 3px solid var(--orange);
  }
}

.title {
  font-size: 66px;
  color: white;

  img {
    width: auto;
    height: 70px;
    transition: transform 1s;

    &:hover {
      transform: rotate(360deg);
    }

    &:hover {
      color: var(--orange);

      span {
        color: white;
      }
    }
  }
}

.disclamer {
  margin-top: 50px;
  font-size: 20px;
  color: red;

  a {
    color: red;
    text-decoration: underline;
  }
}

.episodeNumber {
  color: var(--orange);
}

.download {
  margin-top: 25px;
  color: white;

  span {
    a {
      text-decoration: underline;
      color: var(--orange);
    }
  }
}

iframe {
  border: 0;
  position: relative;
  width: 1206px;
  height: 678px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.episodeTitle {
  font-size: 30px;
  margin: 29px;
  margin-top: 50px;
}

#note {
  width: 360px;
}
