.container--buttons {
  display: flex;
  justify-content: center;
  padding: 26px;
}

.buttons {
  border-bottom: grey solid 1px;
  position: relative;
  top: 17px;
}

.episodeName {
  transition: all 150ms ease-out;

  color: white;
}

.list-episodes {
  cursor: pointer;
  transition: color 150ms ease-out;

  width: 900px;

  &:hover {
    .episodeName {
      color: var(--mainColor);
    }

    span {
      transition: color 150ms ease-out;
      color: white;
    }
  }
}

.search--output--episodes {
  color: white;
  font-size: 20px;
  position: relative;
  top: -15px;
  margin: 10px;
}

.szh-menu-button {
  width: 160px;
  height: 47px;
  top: 5px;
}

select {
  padding: 0 20px;
  margin: 20px;
  position: relative;
  top: -20px;
  border-radius: 3px;
  width: 160px;
  background-color: #16171d80;
  border: var(--mainColor) 1px solid;
  color: var(--mainColor);
  height: 47px;

  option {
    color: white;
  }
}

.titleSaison {
  margin: 46px;
  color: white;
  font-size: 36px;

  a {
    color: white;
    font-size: 56px;
  }
}

.hideEpisodesNames {
  .MuiSwitch-root {
    transform: scale(1.3);
  }
}

.blurEffect {
  filter: blur(7px);
  -webkit-filter: blur(7px);
}

.historiqueEpisode {
  p {
    color: white;
    margin: -15px;
  }
}

.container--list {
  position: relative;
  top: 30px;
  overflow-y: auto;
  height: 400px;
  margin: 21px;
}

.title {
  font-size: 66px;
  color: white;

  img {
    width: auto;
    height: 70px;
    transition: transform 1s;

    &:hover {
      transform: rotate(360deg);
    }

    &:hover {
      color: var(--mainColor);

      span {
        color: white;
      }
    }
  }
}

.disclamer {
  margin-top: 50px;
  font-size: 20px;
  color: red;

  a {
    color: red;
    text-decoration: underline;
  }
}

.episodeNumber {
  color: var(--mainColor);
}

.download {
  margin-top: 25px;
  color: white;

  span {
    a {
      text-decoration: underline;
      color: var(--mainColor);
    }
  }
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.episodeTitle {
  font-size: 30px;
  margin: 29px;
  margin-top: 50px;
}
