@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap");

body {
  background-color: #222121;
  display: flex;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-content: center;
  opacity: 100%;
}

body::-webkit-scrollbar {
  width: 12.5;
}

body::-webkit-scrollbar-track {
  background: #FFA300;
}

body::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-radius: 20px;
  border: 3px solid #FFA300;
}

input {
  color: white;
  background-color: hsl(231deg 13% 10%);
  border: none;
  border-radius: 4px;
  height: 31px;
  width: 144px;
  transition: width 0.5s;
  position: relative;
  top: -31px;
}

label img {
  position: relative;
  left: -13px;
  top: -19px;
  width: 35px;
}

input:focus {
  width: 291px;
}

input::placeholder {
  position: relative;
  left: 5px;
}

.findText {
  color: white;
  margin: 46px;
  font-size: 36px;
}

.findText span {
  color: orange;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.12;
}

.logo {
  font-size: 36px;
  transition: opacity 300ms;
  position: fixed;
  left: 20px;
  top: 0;
  letter-spacing: 5px;
}

.container {
  width: 1700px;
  height: auto;
  position: relative;
  margin-top: 85px;
  background-color: hsl(225deg 9% 17%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 7px;
  opacity: 0.9;
}

.films {
  overflow-x: auto;
}

.films div {
  display: inline-flex;
  margin: 33px;
}

.films div img {
  width: 89px;
  height: 108px;
  transition: all 0.5s;
  opacity: 1;
}

.video {
  margin-bottom: 33px;
}

.filmText {
  width: 72px;
  color: white;
  margin-left: -82px;
  margin-top: 21px;
}

video {
  transition: all 0.5s;
}

a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}

.firstText span {
  color: orange;
}

span {
  color: orange;
}

.image {
  max-width: 48px;
  opacity: 0.6;
  transition: all 0.5s;
}

.downloadButton {
  margin: 47px;
}

.downloadButton p span {
  width: 48px;
  margin: 5px;
  display: inline-block;
  color: white;
}

.image:hover {
  opacity: 1;
  transform: scale(1.05);
}

.firstText {
  color: white;
  font-size: 50px;
  transition: all 0.5s;
}

.tips {
  color: white;
  margin: 29px
}

.tips span {
  color: orange;
}

footer {
  margin-top: 20px;
  color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

.poster {
  transition: tranform 300ms;
}

.divFilm:hover .poster {
  transform: rotate(10deg);
}

.searchBar {
  border-bottom: grey solid 1px;
  padding: 7px;
}

.title img {
  animation: spin 1s;

  width: auto;
  height: 70px;
  transition: transform 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.title {
  letter-spacing: 3px;
  font-size: 20px;
  color: white;
}

.title img:hover {
  transform: rotate(360deg)
}

.title:hover {
  color: orange;
}

.title:hover span {
  color: white;
}

@media (max-width: 805px) {
  video {
    width: 594px;
  }
}

@media (max-width: 372px) {
  input:focus {
    width: 215px
  }
}

@media (max-width: 598px) {
  .firstText {
    font-size: 35px;
  }

  video {
    width: 508px;
  }
}

@media (max-width: 506px) {
  .logo {
    font-size: 26px;
  }

  video {
    width: 396px;
  }
}

@media (max-width: 398px) {
  video {
    width: 327px;
  }
}

@media (max-width: 336px) {
  video {
    width: 284px;
  }
}