body,
html {
  height: 100%;
}

.container--home {
  .card {
    padding: 15px;
    width: 500px;
    background-color: #17171c;
    box-shadow: #00000026 0 15px 25px, #0000000d 0 5px 10px;
    border-radius: 7px;

    .footer {
      margin-top: 90px;

      &::after {
        content: none;
      }
    }

    .choices {
      font-size: 50px;

      a {
        text-shadow: 0 0 20px black;
        position: relative;
        color: #65adff;
        cursor: pointer;
        font-size: 43px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--mainColor);
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 300ms ease-out;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .synopsis {
      font-size: 20px;
      position: relative;
      margin: 50px 0;
      color: white;

      .visible {
        opacity: 1;
      }

      p {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition-duration: 300ms;

        span {
          color: var(--mainColor);
        }
      }
    }

    .title {
      font-size: 20px;
      color: white;
      position: relative;

      h1 {
        font-size: 35px;

        &::after {
          content: none;
        }
      }
    }
  }
}
