.container--home {
  .card {
    width: 500px;
    height: auto;
    background-color: hsl(231, 10%, 14%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    margin-top: 30%;
    opacity: 0.9;
    transition: all 1s;
    margin-bottom: 23px;

    .footer {
      margin-top: 90px;

      &::after {
        content: none;
      }
    }

    .choices {
      font-size: 50px;

      a {
        text-shadow: 0 0 20px black;
        position: relative;
        color: #65adff;
        cursor: pointer;
        font-size: 43px;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: var(--mainColor);
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 350ms ease-out;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .synopsis {
      font-size: 20px;
      position: relative;
      margin: 50px 0;
      color: white;

      .visible {
        opacity: 1;
      }

      p {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition-duration: 300ms;

        span {
          color: var(--mainColor);
        }
      }
    }

    .title {
      font-size: 20px;
      color: white;
      position: relative;

      h1 {
        font-size: 35px;
      }

      &::after {
        content: none;
      }
    }
  }
}
