@media (max-width: 520px) {
  #root {
    main {
      a {
        .logo {
          font-size: 24px;
        }
      }

      .container--home {
        .card {
          height: 861px;
          width: 376px;
          margin-top: 93px;

          .choices {
            margin-top: 408px;
          }
        }
      }
    }
  }
}

@media (max-width: 474px) {
  #root {
    main {
      a {
        h1 {
          font-size: 27px;
        }
      }

      .container--home {
        .card {
          width: 356px;
          margin-top: 144px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #root {
    main {
      .container--home {
        .card {
          width: 261px;
          height: 1010px;

          .choices {
            margin-top: 564px;
          }
        }
      }
    }
  }
}
