@media (max-width: 520px) {
  #root {
    a {
      .logo {
        font-size: 24px;
      }
    }

    .container--home {
      .card {
        height: auto;
        width: 376px;
        margin-top: 93px;
      }
    }
  }
}

@media (max-width: 474px) {
  #root {
    a {
      h1 {
        font-size: 9vw;
      }
    }

    .container--home {
      .card {
        width: 356px;
        margin-top: 144px;
      }
    }
  }
}

@media (max-width: 400px) {
  #root {
    .container--home {
      .card {
        width: 261px;
        height: auto;
      }
    }
  }
}
