@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap");

body {
    background-color: #222121;
    display: flex;
    font-family: "Roboto", sans-serif;
    text-align: center;
    justify-content: center;
    opacity: 100%;
}

.buttons {
    position: relative;
    top: 17px;
}

select {
    margin-top: 5px;
    width: 149px;
    height: 36px;
    border: none;
    border-radius: 7px;

}

input {
    border: none;
    border-radius: 7px;
    height: 29px;
    width: 86px;
    transition: width 0.5s;
    position: relative;
    top: 12px;
}

.mark {
    color: cyan;
    position: relative;
    top: 8px;
    text-decoration: underline;
}

input:hover {
    width: 150px;
}

input::placeholder {
    position: relative;
    left: 5px;
}

button {
    transition: all 0.5s;
    border: none;
    border-radius: 7px;
    width: 89px;
    height: 47px;
    background-color: rgb(9, 101, 206);
    font-size: 14px;
    margin: 9px;
}

button:hover {
    background-color: rgb(9, 144, 206);
    transform: scale(0.9);
}

.findText {
    color: white;
    margin: 25px;
    font-size: 36px;
}

.findText span {
    color: orange;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    opacity: 0.9;
}

.container {
    width: 1700px;
    height: auto;
    position: relative;
    background-color: #333030;
    border-radius: 50px;
    opacity: 0.8;
    margin-top: 32px;
    box-shadow: 0px 0px 20px black;
}

.sagas div {
    display: inline-flex;
    margin: 33px;
}

.video img {
    width: 77px;
    height: auto;
    display: none;
}

.sagas div img {
    width: 89px;
    height: 108px;
    transition: all 0.5s;
    opacity: 1;
}

.filmText {
    width: 72px;
    color: white;
    margin-left: -82px;
    margin-top: 21px;
}

a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

h1 {
    transition: all 0.5s;
}

h1:hover {
    transform: scale(1.1);
}

.firstText span {
    color: orange;
}

span {
    color: orange;
}

p {
    color: white;
}

footer p {
    opacity: 59%;
}

.numberEp {
    color: orange;
}

.firstText a,
.firstText {
    color: cyan;
    font-size: 50px;
}

.sagas img:hover {
    opacity: 0.5;
    transform: scale(0.9);
}

.epClick :hover {
    color: orange;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bigText {
    font-size: 30px;
}

@media (max-width: 649px) {
    .epClick {
        width: 245px;
        position: relative;
        left: 206px;
    }

    .bigText {
        font-size: 21px;
    }

    iframe {
        width: 450px;
        height: 258px;
    }
}

@media (max-width: 458px) {
    .epClick {
        position: relative;
        left: 90px;
    }

    iframe {
        width: 325px;
        height: 185px;
    }
}

@media (max-width: 358px) {
    .epClick {
        position: relative;
        left: 17px;
    }

    iframe {
        width: 265px;
        height: 153px;
    }
}