@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap");

body {
    background-color: #222121;
    display: flex;
    font-family: "Roboto", sans-serif;
    text-align: center;
    justify-content: center;
    opacity: 100%;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
}

.buttons {
    width: 415px;
    border-bottom: grey solid 1px;
    position: relative;
    top: 17px;
}

select {
    margin-top: 5px;
    width: 149px;
    height: 36px;
    border: none;
    border-radius: 7px;
}

input {
    border: 1px grey solid;
    border-radius: 7px;
    height: 31px;
    width: 144px;
    transition: width 0.5s;
    position: relative;
    top: -31px;
}

label img {
    position: relative;
    left: -13px;
    top: -19px;
    width: 35px;
}

.mark {
    color: cyan;
    position: relative;
    top: 8px;
    text-decoration: underline;
}

input:focus {
    width: 291px;
}

input::placeholder {
    position: relative;
    left: 5px;
}

.warning {
    margin: 57px;
    color: red;
}

button {
    position: relative;
    top: -20px;
    left: 0;
    right: 0;
    border: orange 1px solid;
    border-radius: 3px;
    width: 89px;
    height: 47px;
    background-color: hsl(231deg 13% 10%);
    font-size: 14px;
    margin: 17px;
    color: orange;
    transition: all 300ms;
}

.epClick {
    cursor: pointer;
}

.nextButton:hover {
    position: relative;
    left: 8px;
}

.prevButton:hover {
    position: relative;
    left: -8px;
}

.findText {
    color: white;
    margin: 46px;
    font-size: 36px;
}

.findText span {
    color: orange;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    opacity: 0.12;
}

.container {
    width: 1700px;
    height: auto;
    position: relative;
    margin-top: 85px;
    background-color: hsl(225deg 9% 17%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    opacity: 0.9;
}

.secondText p {
    margin: -15px;
}

.sagas div {
    display: inline-flex;
    margin: 33px;
}

.video img {
    width: 77px;
    height: auto;
    display: none;
}

.sagas div img {
    width: 89px;
    height: 108px;
    transition: all 300ms;
    opacity: 1;
}

.filmText {
    width: 72px;
    color: white;
    margin-left: -82px;
    margin-top: 21px;
}

a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

.logo {
    font-size: 36px;
    transition: opacity 300ms;
    position: fixed;
    left: 20px;
    top: 0;
    letter-spacing: 5px;
}

.firstText span {
    color: orange;
}

span {
    color: orange;
}

p {
    color: white;
}

.poster {
    transition: tranform 300ms;
}

.divSagas:hover .poster {
    transform: rotate(10deg);
}

.searchBarSagas {
    border-bottom: grey solid 1px;
    padding: 7px;
}

.title img {
    color: black;
    width: auto;
    height: 50px;
    transition: transform 1s;
}

.title {
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

.title img:hover {
    transform: rotate(360deg)
}

.title:hover {
    color: orange;
}

.title:hover span {
    color: white;
}

footer {
    opacity: 59%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

.numberEp {
    color: orange;
}

.firstText a,
.firstText {
    color: cyan;
    font-size: 50px;
}

.title {
    margin-bottom: 136px;
    width: auto;
    height: 50px;
    transition: transform 1s;
    letter-spacing: 3px;
    font-size: 20px;
    color: white;
}

.title img {
    color: black;
    width: auto;
    height: 50px;
    transition: transform 1s;
}

.thirdContainer {
    margin-top: 50px;
}

.epClick :hover {
    color: orange;
}

.list {
    margin-top: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bigText {
    font-size: 30px;
}

@media (max-width: 649px) {
    .bigText {
        font-size: 21px;
    }

    iframe {
        width: 450px;
        height: 258px;
    }
}

@media (max-width: 506px) {
    .logo {
        font-size: 26px;
    }
}

@media (max-width: 458px) {
    iframe {
        width: 325px;
        height: 185px;
    }
}

@media (max-width: 372px) {
    input:focus {
        width: 215px
    }
}

@media (max-width: 358px) {
    iframe {
        width: 265px;
        height: 153px;
    }
}