@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColor: #ff9d00;
  --mainColor: #ff9d00;
}

.swiper-pagination-progressbar-fill {
  background: var(--mainColor) !important;
}

.swiper-slide {
  display: flex !important;
}

.btn {
  @apply relative left-0 z-30 flex min-h-12 items-center justify-center gap-1 rounded-lg border border-transparent px-5 py-3 text-base font-normal text-zinc-950 transition-all after:absolute after:left-0 after:top-0 after:-z-30 after:h-full after:w-full after:rounded-lg after:bg-main after:brightness-75 after:transition-all hover:border-main hover:text-white hover:after:opacity-10 active:after:opacity-30 disabled:after:opacity-50 disabled:hover:border-transparent disabled:hover:text-black disabled:hover:after:opacity-50 disabled:active:after:opacity-50 sm:gap-2 sm:text-lg;
}

.glassBtn {
  @apply relative left-0 z-30 flex min-h-12 items-center justify-center gap-1 rounded-lg border border-neutral-700 px-5 py-3 text-base font-normal transition-all after:absolute after:left-0 after:top-0 after:-z-30 after:h-full after:w-full after:rounded-lg after:bg-neutral-200 after:opacity-10 after:brightness-75 after:transition-all hover:after:opacity-5 active:after:opacity-10 disabled:opacity-50 disabled:after:opacity-10 sm:gap-2 sm:text-lg;
}

.container {
  @apply relative my-10 flex w-full justify-center;
}

.video {
  @apply relative aspect-video w-[1200px] border-0 max-xl:w-[930px] max-lg:w-full;
}

.ambiance {
  @apply absolute -z-10 h-full w-full scale-[.8] blur-[150px];
}

@layer base {
  body {
    @apply bg-zinc-950 text-center font-mns text-white;
  }

  span {
    @apply text-main;
  }

  * {
    @apply font-light;
  }

  h1 {
    @apply font-normal;
  }

  input,
  textarea {
    @apply focus:outline-none;
  }

  main {
    @apply relative top-20;
  }
}

*::-webkit-scrollbar {
  @apply size-2 bg-transparent;
}

*::-webkit-scrollbar-thumb {
  @apply w-px rounded-md bg-main;
}
