@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColor: #ff9d00;
  --mainColor: #ff9d00;
}

.swiper-pagination-progressbar-fill {
  background: var(--mainColor) !important;
}

.btn {
  @apply relative left-0 h-12 rounded border border-main bg-zinc-950 bg-opacity-30 p-2 text-sm transition-all duration-300;
}

.back {
  @apply hover:-left-2;
}

.next {
  @apply hover:left-2;
}

.container {
  @apply relative mb-14 mt-20 flex w-full justify-center;
}

.video {
  @apply relative aspect-video h-[675px] w-[1200px] border-0 max-xl:h-[523px] max-xl:w-[930px] max-lg:h-full max-lg:w-full;
}

.ambiance {
  @apply absolute -z-10 h-full w-full blur-[150px];
}

@layer base {
  body {
    font-family: Fredoka;
    @apply bg-zinc-950 text-center text-white;
  }

  span {
    @apply text-main;
  }

  * {
    @apply font-light;
  }

  h1 {
    font-weight: 400;
  }

  input {
    @apply focus:outline-none;
  }

  main {
    @apply relative top-20;
  }
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid var(--mainColor);
}

*::-webkit-scrollbar {
  @apply bg-transparent;
}

.select::-webkit-scrollbar-thumb {
  @apply w-px rounded-md border-transparent bg-gray-400 bg-opacity-50;
}
