@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColor: #ff9d00;
  --mainColor: #ff9d00;
}

.swiper-pagination-progressbar-fill {
  background: var(--mainColor) !important;
}

.btn {
  @apply relative left-0 min-h-12 rounded border border-orange-400 bg-zinc-900 bg-opacity-40 p-3 text-sm font-normal uppercase transition-all duration-300;
}

.back {
  @apply hover:-left-2;
}

.next {
  @apply hover:left-2;
}

.container {
  @apply relative mb-14 mt-20 flex w-full justify-center;
}

.video {
  @apply relative aspect-video w-[1200px] border-0 max-xl:w-[930px] max-lg:w-full;
}

.ambiance {
  @apply absolute -z-10 h-full w-full blur-[150px];
}

@layer base {
  body {
    font-family: Fredoka;
    @apply text-center text-white;
  }

  span {
    @apply text-main;
  }

  * {
    @apply font-light;
  }

  h1 {
    font-weight: 400;
  }

  input {
    @apply focus:outline-none;
  }

  main {
    @apply relative top-20;
  }
}

*::-webkit-scrollbar-thumb {
  @apply bg-neutral-800;
}

*::-webkit-scrollbar {
  width: 12px;
}
