@import './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Roboto:wght@300&display=swap');
body {
  font-family: 'Kanit', sans-serif;
  background-color: #1d1e20;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 16px;
    background-color: cyan;
  }

  &::-webkit-scrollbar-track {
    background: #ffa300;
  }

  &::-webkit-scrollbar-thumb {
    background-color: cyan;
    border-radius: 20px;
    border: 3px solid #ffa300;
  }
}

h1,
p {
  color: white;
}

span {
  color: #ffa300;
}

.title {
  font-size: 65px;
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: 0.1;
}

.logo {
  transition: opacity 300ms;
  position: fixed;
  left: 0;
  top: 0;
  margin: 15px 30px;
  font-size: 30px;
  letter-spacing: 3.5px;

  img {
    width: 50px;
    display: inline;
    position: relative;
    top: 7px;
    left: -15px;
  }
}

input {
  text-indent: 10px;
}

button {
  background-color: hsl(231deg 13% 10%);
  color: #ffa300;

  border: #ffa300 1px solid;
  border-radius: 3px;
}

.container--episodes,
.container--films,
.container--saisons,
.container--scans,
.container--anime {
  position: relative;
  top: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text--saisons,
.text--films {
  margin-top: 120px;
}

.label--films,
.label--saisons,
.label--episodes,
.label--anime {
  img {
    position: relative;
    left: -50px;
    width: 37px;
    top: 10px;
  }

  input {
    color: white;
    background-color: hsl(231deg 13% 10%);
    border: none;
    border-radius: 4px;
    height: 31px;
    width: 144px;
    transition: width 0.5s;
    position: relative;
    top: -24px;

    &:focus {
      width: 250px;
    }

    &::placeholder {
      margin-left: 5px;
    }
  }
}

.mark,
footer {
  margin-top: 100px;
}

.mark {
  width: 350px;
  color: black;
  text-decoration: underline;
}

footer {
  color: white;
  opacity: 1;

  user-select: none;
  cursor: default;
}

button,
.NextSaison,
.PrevSaison {
  position: relative;
  top: -20px;
  left: 0;
  right: 0;

  width: 89px;
  height: 47px;

  font-size: 14px;
  margin: 17px;
  transition: all 300ms;
}

.NextSaison,
.PrevSaison {
  margin-top: 64px;
}

.nextButton,
.NextSaison {
  &:hover {
    position: relative;
    left: 8px;
  }
}

.prevButton,
.PrevSaison {
  &:hover {
    position: relative;
    left: -8px;
  }
}
