@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #ffea00;
  --plyr-color-main: var(--mainColor);
}

.btn {
  @apply relative left-0 h-12 rounded border border-[--mainColor] bg-[hsla(231,_14%,_10%,_0.5)] p-2 text-sm text-[--mainColor] transition-all duration-300;
}

.back {
  @apply hover:-left-2;
}

.next {
  @apply hover:left-2;
}

.container {
  @apply relative flex w-full justify-center;
}

.video {
  @apply relative mb-16 aspect-video h-[675px] w-[1200px] border-0 max-xl:h-[523px] max-xl:w-[930px] max-lg:h-full max-lg:w-full;
}

.ambiance {
  @apply absolute top-0 -z-10 scale-110 blur-[150px];
}

.scanImg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@layer base {
  body {
    font-family: Fredoka;
    @apply overflow-x-hidden bg-[#1b1d21] text-center text-white;
  }

  span {
    @apply text-[--mainColor];
  }

  h1 {
    @apply font-bold;
  }

  input {
    @apply focus:outline-none;
  }

  main {
    @apply relative top-40;
  }
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: rgb(33 35 37);
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid var(--mainColor);
}
