@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --defaultColor: white;
  --mainColor: white;
}

.swiper-pagination-progressbar-fill {
  background: var(--mainColor) !important;
}

.btn {
  @apply relative left-0 h-12 rounded border border-main bg-[hsla(231,_14%,_10%,_0.5)] p-2 text-sm text-main transition-all duration-300;
}

.back {
  @apply hover:-left-2;
}

.next {
  @apply hover:left-2;
}

.container {
  @apply relative my-20 flex w-full justify-center;
}

.video {
  @apply relative aspect-video h-[675px] w-[1200px] border-0 max-xl:h-[523px] max-xl:w-[930px] max-lg:h-full max-lg:w-full;
}

.ambiance {
  @apply absolute -z-10 h-full w-full blur-[150px];
}

@layer base {
  body {
    font-family: Fredoka;
    @apply overflow-x-hidden bg-[#1b1d21] text-center text-white;
  }

  span {
    @apply text-main;
  }

  * {
    @apply font-light;
  }

  h1 {
    font-weight: 400;
  }

  input {
    @apply focus:outline-none;
  }

  main {
    @apply relative top-24;
  }
}

*::-webkit-scrollbar {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid var(--mainColor);
}

.select::-webkit-scrollbar-thumb {
  background-color: #3e63dd;
}

.select::-webkit-scrollbar-thumb {
  border: transparent;
}
