.container--scans {
  .mark {
    margin: -70px;
  }

  .container--buttons--scans {
    position: relative;
    top: 100px;
    margin-bottom: 230px;

    .buttons--scans {
      border-bottom: grey solid 1px;
      position: relative;
      top: 17px;
    }

    .lastChapter {
      position: relative;
      top: 15px;

      &:hover {
        position: relative;
        top: 8px;
      }
    }
  }

  select {
    border: 1px solid white;
    color: white;
    padding: 10px;
    position: relative;
    top: 50px;
    border-radius: 50px;

    option {
      color: black;
    }
  }

  .scans {
    position: relative;
    top: -60px;
    margin-bottom: -130px;

    img {
      width: 850px;
    }
  }

  svg {
    transition: fill 250ms ease-out;
    width: 70px;
    position: relative;
    top: -100px;

    &:hover {
      cursor: pointer;
      fill: var(--mainColor);
    }
  }
}
